
/* CSS */

* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(88, 35, 88);
    background-image: linear-gradient( rgb(88, 35, 88) 10%, transparent),
    url(img/pexels-oleg-magni-861339.jpg);
    background-size: 2000px;  
}

/* properties for elements in header */
.main-header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding-top: 3px;
    height: 100px;
    width: 100%;
    background-color:  rgb(250, 132, 77);
    text-align: center;
}

.title {
    width: 100%;
}

.go {
    margin: auto;
    height: 0px;
    width: 30%;
    color: aliceblue;
    text-shadow: 1px 1px 1px black;
}

.lA {
    text-align: left;
}

.lC {
    text-align: right;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: rgb(88, 35, 88);    
}

/* properties for elements in main */
.info {
    margin: auto;
    margin-bottom: 30px;
    width: 70%;
    color: lightgrey;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;  
    padding: 20px;
    width: 80%;
    background-image: linear-gradient(rgb(250, 132, 77), 70%, rgb(252, 233, 181));
    background-size: cover;
    box-shadow: 5px 5px 5px black;
    border-radius: 10%;
}

.contactUs {
    text-align: center; 
}

.contact-child {
    margin: 10px;
    width: 70%;  
}

.email {
    color:  rgb(0, 118, 173);
}

/* footer */
.main-footer {
    display: flex;
    justify-content: center;
    height: 10vh; 
}


/* MEDIA QUERIES */

@media(min-width: 600px) {

    /* header */
    .lA {
        width: 85%;
        padding-left: 15px;
    }

    .lB,
    .lC {
        width: 7.5%;
    }

    .lC {
        padding-right: 15px;
    }

    /* main */
    .container {
        width: 500px;
        height: 300px;
        margin-bottom: 65px;  
    }

    .contact-child {
        font-size: 1.5rem;
    }

    .contactUs  {
        font-size: 2.5rem;
    }
}


@media(min-width: 1020px) {

    /* main */
    main {
        margin-bottom: 40px;
    }

    .info {
        font-size: 1.1rem;
    }

    .container {
        height: 350px;
        width: 550px;
        padding-bottom: 50px;
    }
    
    .contact-child {
        font-size: 1.7rem;
    }

    .contactUs  {
        font-size: 3rem;
    }
}